Repository Grace-Shopper-PPE/Grace-Shopper, pull requests merged in 2020-08, with the labels that each got.

#46 updated user model
  server/db/models/user.js
Labels: Single User - Get User

#47 created Product model and imported into index.js
  demo.js
  server/db/models/index.js
  server/db/models/product.js
Labels: Customer - Get all products

#51 Created All Products/Masks/Faceshield/Sanitzers GET routes. Built Red…
  client/components/all-faceshields.js
  client/components/all-masks.js
  client/components/all-products.js
  client/components/all-sanitizers.js
  client/components/index.js
  client/routes.js
  client/store/products.js
  script/seed.js
  server/api/index.js
  server/api/products.js
  server/db/models/product.js
Labels: Customer - Get all products

#49 Add All Users
  client/components/all-users.js
  client/store/index.js
  client/store/users.js
  public/defaultUser.jpg
  server/api/users.js
Labels: Admin - Get All Users

#58 changed names to singleUser and allUsers
  client/store/all-users.js
  client/store/index.js
  client/store/single-user.js
  demo.js
  server/db/models/user.js
Labels: Single User - Get User

#66 created single product cards
  client/components/all-faceshields.js
  client/components/all-masks.js
  client/components/all-products.js
  client/components/all-sanitizers.js
  client/components/single-product-details.js
Labels: Customer - Get all products

#67 minor revisions on SingleUser for 1st deployment
  client/components/all-users.js
  client/components/single-user.js
  client/components/user-detail.js
  client/routes.js
  client/store/single-user.js
Labels: Single User - Create User, Single User - Get User, Single User - Update User

#69 feat: create working single product page
  client/components/index.js
  client/components/single-product-details.js
  client/components/single-product-page.js
  client/routes.js
  client/store/index.js
  client/store/single-product.js
  server/api/products.js
Labels: Customer - Get Single Product

#71 feat: add delete button capability and started edit form
  client/components/index.js
  client/components/product-form.js
  client/components/product-update.js
  client/components/single-product-page.js
  client/routes.js
  client/store/single-product.js
  public/index.html
  public/style.css
  server/api/products.js
Labels: Customer - Get Single Product

#74 Admin edit delete
  README.md
  client/components/all-users.js
  client/components/auth-form.js
  client/components/navbar.js
  client/components/product-update.js
  client/components/single-user.js
  client/components/user-detail.js
  client/components/user-home.js
  client/routes.js
  client/store/all-users.js
  client/store/auth.js
  client/store/index.js
  client/store/users.js
  public/GraceShopperReadMeExample.png
  public/style.css
  script/seed.js
  server/api/users.js
  server/db/models/user.js
Labels: Admin - Delete User

#76 F/travis deploy
  .travis.yml
Labels: Travis deployment

#75 Feat: Create Cart and Increment Cart functionality
  client/components/cart-product-details.js
  client/components/cart.js
  client/components/index.js
  client/routes.js
  client/store/cart.js
  client/store/index.js
  script/seed.js
  server/api/cart.js
  server/api/index.js
  server/db/models/index.js
  server/db/models/order.js
  server/db/models/orderProducts.js
Labels: Customer - Get Cart, Customer - Get Single Product

#79 Product forms
  client/components/auth-form.js
  client/components/product-form.js
  client/components/product-update.js
  client/components/single-product-details.js
  client/components/single-product-page.js
  client/components/user-detail.js
  client/routes.js
  client/store/single-product.js
  public/style.css
  server/api/products.js
  server/db/models/order-products.spec.js
  server/db/models/order.spec.js
Labels: Admin - Updating a Product

#77 fix: minor bug on user.spec.js
  client/store/user.spec.js
Labels: Travis deployment

#84 feat: update users on seed.js and mask password on login form
  README.md
  client/components/all-products.js
  client/components/all-users.js
  client/components/auth-form.js
  client/components/index.js
  client/components/my-profile.js
  client/components/navbar.js
  client/components/profile-page.js
  client/components/remove-edit-product-btn.js
  client/components/single-product-details.js
  client/components/single-product-page.js
  client/components/single-user.js
  client/components/user-page.js
  client/routes.js
  client/store/auth.js
  client/store/index.js
  client/store/products.js
  client/store/single-product.js
  client/store/single-user.js
  script/seed.js
  server/api/products.js
  server/api/users.js
  server/api/users.spec.js
Labels: seeding database

#85 test: ignore tests and app.scss now for CI until tests are completed
  .gitignore
  .travis.yml
  client/components/single-product-details.js
  client/index.js
  client/routes.js
  client/store/single-product.js
  server/db/models/orderProducts.js
  server/db/models/products.spec.js
Labels: Travis CI/CD, Travis deployment

#89 fix: fix edit/remove btns on all products page
  .travis.yml
  client/components/single-product-details.js
  client/store/single-product.js
  script/seed.js
  script/seed.spec.js
  server/db/models/order-products.spec.js
  server/db/models/user.spec.js
Labels: Admin - Delete a Product, Admin - Delete a User, Admin - Update a Product, Admin - Update a User

#93 feat: add seed file
  script/seed.js
Labels: seeding database

#95 feat: updated model for seed file
  package.json
  server/db/models/product.js
Labels: seeding database

#98 fix: updated package-lock.json to reflect dependencies for deployment
  package-lock.json
Labels: Travis CI/CD, Travis deployment

#101 Dependencies
  .travis.yml
  package-lock.json
Labels: Travis CI/CD, Travis deployment, seeding database
